extends layout

block content
  .jumbotron
    .container
      h2.display-4 Welcome to TranscodeBox
      p
        | TrasncodeBox is a tool that allows users to easily convert video files into different resoltuions and standardised formats and store these videos in a cloud environment.
      p
        | To get started, simply click the &apos;Get Started&apos; button below, or the &apos;Upload&apos; button in the top right, enter a title, choose your vide file, select a desired output resoltuion and click start! Your video will be submitted for processing and soon be available to view in site, and to download.
      p
        | You can also view a history of all previous uploads by using the &apos;Browse&apos; button at the top of your screen. Enjoy!
      .text-center
        a.btn.btn-success.get-started.text-center(href='/', role='button') Get Started
  .container
    h3 Usage guide
    p
      | TranscodeBox is made up of two main components, video encoding and video hosting. When you submit a video for encoding, it is automatically uploaded to a cloud storage service so that you can view it within your browser, or download a copy to store yourself.
    p
      | You can upload a new video for transocding using the &apos;Upload button at the top of this page. Once you&apos;re on the upload page, you need to enter a suitable title for your video - this is how it will appear in the browse section after it&apos;s been processed. You also need to choose the file from your computer, and choose an output resolution, one of either 720p, 576p or 480p.
    .text-center
      img(src='images/temp.png')
    p
      | Once your video has been uploaded, you&apos;ll receive a link to it&apos;s individual page - click this to view the resulting video in your browser and to download once processing has finished. You can view all videos that have previously been uploaded to the site from the &apos;Browse&apos; button at the top of your screen.

