extends layout

block content
  h1 Upload Video
  input#file(type='file', name='file')
  select#resolution(name='resolution')
    option(value='720p', selected='') 720p
    option(value='576p') 576p
    option(value='480p') 480p
  button(onclick='submitUploadForm()') upload 
  progress#progress(style='visibility:hidden;', value='0', max='100')
  p#error
  script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
  script(src='/javascripts/upload.js')

