extends layout

block content
  div.video-header
    h1 {VIDEO TITLE}
    video(controls)
      source(src=s3url, type='video/mp4')
      | Your browser does not support the html video tag.
  div.video-metadata
